body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.postCard {
  width: 70%;
  padding: 50px 75px;
  margin: 25px;
}

.postMain {
  display:flex;
  justify-content: center;
}

.ql-editor {
  height: 170px!important;
}

.content{
  display: flex;
  justify-content: center;
}

.card-link {
  color: #1c2936;
  text-decoration: none;
}

.card-link:hover {
  color: #507092
}

.card-link-heavy {
  font-weight: 650;
}